In [1]:
import pandas as pd

books = pd.read_csv("books_cleaned.csv")

In [2]:
books["categories"].value_counts().reset_index()

                    categories  count
0                      Fiction   2111
1             Juvenile Fiction    390
2    Biography & Autobiography    311
3                      History    207
4           Literary Criticism    124
..                         ...    ...
474               Conspiracies      1
475       Brothers and sisters      1
476             Rock musicians      1
477             Community life      1
478    Indic fiction (English)      1

[479 rows x 2 columns]

In [3]:
# query() method in pandas allows to filter DataFrames using string expression
books["categories"].value_counts().reset_index().query("count >= 50")

                   categories  count
0                     Fiction   2111
1            Juvenile Fiction    390
2   Biography & Autobiography    311
3                     History    207
4          Literary Criticism    124
5                  Philosophy    117
6                    Religion    117
7     Comics & Graphic Novels    116
8                       Drama     86
9         Juvenile Nonfiction     57
10                    Science     56
11                     Poetry     51
12       Literary Collections     50

In [27]:
#books[books["categories"] == "Juvenile Fiction"]

In [5]:
#books[books["categories"] == "Juvenile Nonfiction"].reset_index()

In [28]:
category_mapping = { 'Fiction': 'Fiction',
'Juvenile Fiction': "Fiction",
'Biography & Autobiography': 'Nonfiction',
'History': 'Nonfiction',
'Literary Criticism': 'Nonfiction',
'Religion': 'Nonfiction',
'Philosophy': 'Nonfiction',
'Comics & Graphic Novels': 'Fiction',
'Drama': 'Fiction',
'Juvenile Nonfiction': "Nonfiction",
'Science': 'Nonfiction',
'Poetry': 'Fiction',
'Literary Collections': 'Nonfiction'
}
books["simple_categories"] = books["categories"].map(category_mapping)

In [29]:
# Show only rows where simple_categories is not null
books[books["simple_categories"].notna()]

,isbn13,isbn10,title,authors,categories,thumbnail,description,published_year,average_rating,num_pages,ratings_count,title_and_subtitle,tagged_description,simple_categories
0,9780002005883,0002005883,Gilead,Marilynne Robinson,Fiction,http://books.google.com/books/content?id=KQZCP...,A NOVEL THAT READERS and critics have been eag...,2004.0,3.85,247.0,361.0,Gilead,9780002005883 A NOVEL THAT READERS and critics...,Fiction
2,9780006178736,0006178731,Rage of angels,Sidney Sheldon,Fiction,http://books.google.com/books/content?id=FKo2T...,"A memorable, mesmerizing heroine Jennifer -- b...",1993.0,3.93,512.0,29532.0,Rage of angels,"9780006178736 A memorable, mesmerizing heroine...",Fiction
8,9780006482079,0006482074,Warhost of Vastmark,Janny Wurts,Fiction,http://books.google.com/books/content?id=uOL0f...,"Tricked once more by his wily half-brother, Ly...",1995.0,4.03,522.0,2966.0,Warhost of Vastmark,9780006482079 Tricked once more by his wily ha...,Fiction
30,9780006646006,000664600X,Ocean Star Express,Mark Haddon;Peter Sutton,Juvenile Fiction,http://books.google.com/books/content?id=I2QZA...,Joe and his parents are enjoying a summer holi...,2002.0,3.50,32.0,1.0,Ocean Star Express,9780006646006 Joe and his parents are enjoying...,Fiction
31,9780007105045,0007105045,Tree and Leaf,John Ronald Reuel Tolkien,Literary Collections,http://books.google.com/books/content?id=aPb_A...,"""The two works 'On fairy-stories' and 'Leaf by...",2001.0,4.09,176.0,2245.0,Tree and Leaf: The Homecoming of Beorhtnoth : ...,"9780007105045 ""The two works 'On fairy-stories...",Nonfiction
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5178,9781933648279,1933648279,Night Has a Thousand Eyes,Cornell Woolrich,Fiction,http://books.google.com/books/content?id=3Gk6s...,"""Cornell Woolrich's novels define the essence ...",2007.0,3.77,344.0,680.0,Night Has a Thousand Eyes,"9781933648279 ""Cornell Woolrich's novels defin...",Fiction
5188,9784770028969,4770028962,Coin Locker Babies,村上龍,Fiction,http://books.google.com/books/content?id=87DJw...,Rescued from the lockers in which they were le...,2002.0,3.75,393.0,5560.0,Coin Locker Babies,9784770028969 Rescued from the lockers in whic...,Fiction
5189,9788122200850,8122200850,"Cry, the Peacock",Anita Desai,Fiction,http://books.google.com/books/content?id=_QKwV...,This book is the story of a young girl obsesse...,1980.0,3.22,218.0,134.0,"Cry, the Peacock",9788122200850 This book is the story of a youn...,Fiction
5195,9788185300535,8185300534,I Am that,Sri Nisargadatta Maharaj;Sudhakar S. Dikshit,Philosophy,http://books.google.com/books/content?id=Fv_JP...,This collection of the timeless teachings of o...,1999.0,4.51,531.0,104.0,I Am that: Talks with Sri Nisargadatta Maharaj,9788185300535 This collection of the timeless ...,Nonfiction
5196,9789027712059,9027712050,The Berlin Phenomenology,Georg Wilhelm Friedrich Hegel,History,http://books.google.com/books/content?id=Vy7Sk...,Since the three volume edition ofHegel's Philo...,1981.0,0.00,210.0,0.0,The Berlin Phenomenology,9789027712059 Since the three volume edition o...,Nonfiction

In [8]:
import torch
print(f"PyTorch version: {torch.__version__}")
print(f"CUDA available: {torch.cuda.is_available()}")

import transformers
print(f"Transformers version: {transformers.__version__}")

from transformers import pipeline
print("✅ Pipeline import successful!")

PyTorch version: 2.7.1+cu118
CUDA available: True
Transformers version: 4.52.4
✅ Pipeline import successful!

In [ ]:
classifier = pipeline("zero-shot-classification",
                      model="facebook/bart-large-mnli",
                      device='cuda')

config.json:   0%|          | 0.00/1.15k [00:00<?, ?B/s]

e:\llm_book_recommender\venv\lib\site-packages\huggingface_hub\file_download.py:143: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\G3 15\.cache\huggingface\hub\models--facebook--bart-large-mnli. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)
Xet Storage is enabled for this repo, but the 'hf_xet' package is not installed. Falling back to regular HTTP download. For better performance, install the package with: `pip install huggingface_hub[hf_xet]` or `pip install hf_xet`

model.safetensors:   0%|          | 0.00/1.63G [00:00<?, ?B/s]

tokenizer_config.json:   0%|          | 0.00/26.0 [00:00<?, ?B/s]

vocab.json:   0%|          | 0.00/899k [00:00<?, ?B/s]

merges.txt:   0%|          | 0.00/456k [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/1.36M [00:00<?, ?B/s]

Device set to use cuda

In [30]:
candidate_labels = ["Fiction", "Nonfiction"]

In [31]:
sequence_to_classify = books.loc[books["simple_categories"] == "Fiction", "description"].reset_index(drop=True)[0]

In [32]:
classifier(sequence_to_classify, candidate_labels)

{'sequence': 'A NOVEL THAT READERS and critics have been eagerly anticipating for over a decade, Gilead is an astonishingly imagined story of remarkable lives. John Ames is a preacher, the son of a preacher and the grandson (both maternal and paternal) of preachers. It’s 1956 in Gilead, Iowa, towards the end of the Reverend Ames’s life, and he is absorbed in recording his family’s story, a legacy for the young son he will never see grow up. Haunted by his grandfather’s presence, John tells of the rift between his grandfather and his father: the elder, an angry visionary who fought for the abolitionist cause, and his son, an ardent pacifist. He is troubled, too, by his prodigal namesake, Jack (John Ames) Boughton, his best friend’s lost son who returns to Gilead searching for forgiveness and redemption. Told in John Ames’s joyous, rambling voice that finds beauty, humour and truth in the smallest of life’s details, Gilead is a song of celebration and acceptance of the best and the worst the world has to offer. At its heart is a tale of the sacred bonds between fathers and sons, pitch-perfect in style and story, set to dazzle critics and readers alike.',
 'labels': ['Fiction', 'Nonfiction'],
 'scores': [0.8438265323638916, 0.156173437833786]}

In [33]:
#Postprocessing to get predicted label
import numpy as np
max_index = np.argmax(classifier(sequence_to_classify, candidate_labels)["scores"])
predicted_class = classifier(sequence_to_classify, candidate_labels)["labels"][max_index]

In [34]:
print(predicted_class)

Fiction

In [35]:
#Bundle all of this into function
def generate_predictions(sequence, categories):
    predictions = classifier(sequence, categories)
    max_index = np.argmax(predictions["scores"])
    predicted_class = predictions["labels"][max_index]
    return predicted_class

In [36]:
books["simple_categories"].value_counts().reset_index()

  simple_categories  count
0           Fiction   2754
1        Nonfiction   1039

In [38]:
books["simple_categories"].isna().sum()

1404

In [43]:
#Evaluation
from tqdm import tqdm

actual_categories = []
predicted_categories = []

for i in tqdm(range(0,300)):
    sequence = books.loc[books["simple_categories"] == "Fiction", "description"].reset_index(drop=True)[i]
    predicted_categories.append(generate_predictions(sequence, candidate_labels))
    actual_categories.append("Fiction")

100%|██████████| 300/300 [00:48<00:00,  6.16it/s]

In [44]:
for i in tqdm(range(0,300)):
    sequence = books.loc[books["simple_categories"] == "Nonfiction", "description"].reset_index(drop=True)[i]
    predicted_categories.append(generate_predictions(sequence, candidate_labels))
    actual_categories.append("Nonfiction")

100%|██████████| 300/300 [00:51<00:00,  5.82it/s]

In [45]:
print(f"Length of actual_categories: {len(actual_categories)}")
print(f"Length of predicted_categories: {len(predicted_categories)}")

Length of actual_categories: 600
Length of predicted_categories: 600

In [46]:
prediction_df = pd.DataFrame({"actual_categories": actual_categories, "predicted_categories": predicted_categories})

In [47]:
prediction_df.head(10)

  actual_categories predicted_categories
0           Fiction              Fiction
1           Fiction              Fiction
2           Fiction              Fiction
3           Fiction              Fiction
4           Fiction           Nonfiction
5           Fiction              Fiction
6           Fiction              Fiction
7           Fiction              Fiction
8           Fiction              Fiction
9           Fiction              Fiction

In [52]:
prediction_df["correct_prediction"] = (np.where(prediction_df["actual_categories"] == prediction_df["predicted_categories"], 1, 0))

In [53]:
accuracy = prediction_df["correct_prediction"].sum() / len(prediction_df) * 100

In [54]:
accuracy

74.83333333333333

In [55]:
#Now that is a good accuracy to use in predicting books with missing labels
isbns = []
predicted_categories = []
missing_categories = books.loc[books["simple_categories"].isna(), ["isbn13", "description"]].reset_index(drop=True)

In [56]:
for i in tqdm(range(0, len(missing_categories))):
    sequence = missing_categories["description"][i]
    predicted_categories.append(generate_predictions(sequence, candidate_labels))
    isbns.append(missing_categories["isbn13"][i])

100%|██████████| 1404/1404 [04:41<00:00,  4.99it/s]

In [57]:
missing_predictions_df = pd.DataFrame({"isbn13": isbns, "predicted_categories": predicted_categories})

In [58]:
missing_predictions_df.head(10)

          isbn13 predicted_categories
0  9780002261982              Fiction
1  9780006280897           Nonfiction
2  9780006280934           Nonfiction
3  9780006380832           Nonfiction
4  9780006470229              Fiction
5  9780006472612           Nonfiction
6  9780006483014              Fiction
7  9780006483892              Fiction
8  9780006483908              Fiction
9  9780006486145              Fiction

In [59]:
#Now time to merge this in the original dataframe 'books'
#Fill in the missing categories from predicted categories
#Then drop the predicted_categories column
books = pd.merge(books, missing_predictions_df, on="isbn13", how="left")
books["simple_categories"] = np.where(books["simple_categories"].isna(), books["predicted_categories"], books["simple_categories"])
books = books.drop(columns=["predicted_categories"])

In [65]:
books.head()

,isbn13,isbn10,title,authors,categories,thumbnail,description,published_year,average_rating,num_pages,ratings_count,title_and_subtitle,tagged_description,simple_categories
0,9780002005883,0002005883,Gilead,Marilynne Robinson,Fiction,http://books.google.com/books/content?id=KQZCP...,A NOVEL THAT READERS and critics have been eag...,2004.0,3.85,247.0,361.0,Gilead,9780002005883 A NOVEL THAT READERS and critics...,Fiction
1,9780002261982,0002261987,Spider's Web,Charles Osborne;Agatha Christie,Detective and mystery stories,http://books.google.com/books/content?id=gA5GP...,A new 'Christie for Christmas' -- a full-lengt...,2000.0,3.83,241.0,5164.0,Spider's Web: A Novel,9780002261982 A new 'Christie for Christmas' -...,Fiction
2,9780006178736,0006178731,Rage of angels,Sidney Sheldon,Fiction,http://books.google.com/books/content?id=FKo2T...,"A memorable, mesmerizing heroine Jennifer -- b...",1993.0,3.93,512.0,29532.0,Rage of angels,"9780006178736 A memorable, mesmerizing heroine...",Fiction
3,9780006280897,0006280897,The Four Loves,Clive Staples Lewis,Christian life,http://books.google.com/books/content?id=XhQ5X...,Lewis' work on the nature of love divides love...,2002.0,4.15,170.0,33684.0,The Four Loves,9780006280897 Lewis' work on the nature of lov...,Nonfiction
4,9780006280934,0006280935,The Problem of Pain,Clive Staples Lewis,Christian life,http://books.google.com/books/content?id=Kk-uV...,"""In The Problem of Pain, C.S. Lewis, one of th...",2002.0,4.09,176.0,37569.0,The Problem of Pain,"9780006280934 ""In The Problem of Pain, C.S. Le...",Nonfiction

In [64]:
print(books["simple_categories"].isna().sum())
print(books["simple_categories"].isna().count())

0
5197

In [66]:
books.to_csv("books_with_categories.csv", index=False)